
body{

    background-image: url(wimage/nature.jpeg);
    background-repeat:no-repeat;
    background-size: 100%;
    

}

.labfont{
    color:black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

#temp{
    font-size:25px;
    text-align: center;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
   
}
#city{
    font-size: 20px;
    color: white;
    text-align: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#hlp{
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 15px;
    
}

#fbIcon{

    height:50px;
    width:50px;
}


